// All File is Here :

@import "pages/home.scss";
@import "pages/section.scss";
:root{
    background: rgb(29,26,26);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 65.5%;
}
